*.class
*.log
*.iml
lib

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

__pycache__/
*.pyc

dual_conv.json
dual_res.json
sep_conv_policy.json
sep_conv_value.json
sep_res_policy.json
sep_res_value.json

dual_conv.h5
dual_res.h5
sep_conv_policy.h5
sep_conv_value.h5
sep_res_policy.h5
sep_res_value.h5